<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SAP RFC Monitor</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<script src="/static/js/popper.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/all.js"></script>
	<script src="/static/js/app.js"></script>
	<link href="/static/css/style.css" rel="stylesheet">
</head>
<body>

<!-- Navigation -->
{% include 'navbar.html' %}

<!--- body -->

<div class="container-fluid">

{% block body %}
{% endblock %}

</div>


</body>
</html>







