{% extends "base.html" %}
{% block body %}
    <div class="btn-group" role="group" aria-label="Basic example" style="margin-bottom:5px">
        <button type="button" class="btn btn-secondary"
                rfctype="char"
                log_id="{{ data['LOG_ID'] }}"
                variante="{{ data['VARIANTE'] }}">
            FIX CHAR
        </button>
        <button type="button" class="btn btn-secondary"
                rfctype="activate"
                log_id="{{ data['LOG_ID'] }}"
                variante="{{ data['VARIANTE'] }}">
            ACTIVATE
        </button>
        <button type="button" class="btn btn-secondary"
                rfctype="repeat"
                log_id="{{ data['LOG_ID'] }}"
                variante="{{ data['VARIANTE'] }}">
            REPEAT
        </button>
    <button type="button" class="btn btn-secondary"
                rfctype="ignore"
                log_id="{{ data['LOG_ID'] }}"
                variante="{{ data['VARIANTE'] }}">
            IGNORE
        </button>
    </div>
    <div id="ajax_status">

    </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ITEM</th>
                <th>DATA</th>
            </tr>
            </thead>
            <tbody>
            {% for key, value in data.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}