<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th>ITEM</th>
            <th>DATA</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>ENVIRONMENT</td>
            <td>{{ logItem['ENVIRONMENT']|upper }}</td>
        </tr>

        <tr>
            <td>CHAIN_AUTO_FIX</td>
            <td>{{ logItem['CHAIN_AUTO_FIX'] }}</td>
        </tr>

        <tr>
            <td>LOG_ID</td>
            <td>{{ logItem['LOG_ID'] }}</td>
        </tr>

        <tr>
            <td>CHAIN_ID</td>
            <td>{{ logItem['CHAIN_ID'] }}</td>
        </tr>
        <tr>
            <td>CHAIN_TEXT</td>
            <td>{{ logItem['CHAIN_TEXT'] }}</td>
        </tr>
        <tr>
            <td>TYPE</td>
            <td>{{ logItem['TYPE'] }}</td>
        </tr>
        <tr>
            <td>VARIANTE</td>
            <td>{{ logItem['VARIANTE'] }}</td>
        </tr>
        <tr>
            <td>VARIANTE_TEXT</td>
            <td>{{ logItem['VARIANTE_TEXT'] }}</td>
        </tr>
        <tr>
            <td>INSTANCE</td>
            <td>{{ logItem['INSTANCE'] }}</td>
        </tr>
        <tr>
            <td>JOB_COUNT</td>
            <td>{{ logItem['JOB_COUNT'] }}</td>
        </tr>
        <tr>
            <td>ACTUAL_STATE</td>
            <td>{{ logItem['ACTUAL_STATE'] }}</td>
        </tr>
        <tr>
            <td>ACTIVE_TIME</td>
            <td>{{ logItem['ACTIVE_TIME'] }}</td>
        </tr>
        <tr>
            <td>BATCHDATE</td>
            <td>{{ logItem['BATCHDATE'] }}</td>
        </tr>
        <tr>
            <td>BATCHTIME</td>
            <td>{{ logItem['BATCHTIME'] }}</td>
        </tr>
        <tr>
            <td>SUGGEST_ACTION</td>
            <td>{{ logItem['SUGGEST_ACTION'] }}</td>
        </tr>
        <tr>
            <td>FAILED_TIMES</td>
            <td>{{ logItem['FAILED_TIMES'] }}</td>
        </tr>
        <tr>
            <td>FIX_DATE</td>
            <td>{{ logItem['FIX_DATE'] }}</td>
        </tr>
        <tr>
            <td>FIX_TIME</td>
            <td>{{ logItem['FIX_TIME'] }}</td>
        </tr>
        <tr>
            <td>ERROR_KEY_WORD</td>
            <td>{{ logItem['ERROR_KEY_WORD'] }}</td>
        </tr>
        <tr>
            <td>STATUS</td>
            <td>{{ logItem['STATUS'] }}</td>
        </tr>
        <tr>
            <td>RETURN_MSG</td>
            <td>{{ logItem['RETURN_MSG'] }}</td>
        </tr>
        <tr>
            <td>IP</td>
            <td>{{ logItem['IP'] }}</td>
        </tr>
        </tbody>
    </table>
</div>
