{% extends "base.html" %}
{% block body %}
    <script>
        setTimeout(function () {
            location.reload();
        }, 60000);
    </script>
    {#    <h5>Last Refresh: <span id="last_update"> {{ last_update }}</span></h5>#}
    {% if env.monitorList|length > 0 %}
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>LOG_ID</th>
                    <th>CHAIN_ID</th>
                    <th>VARIANTE_TEXT</th>
                    <th>ACTUAL_STATE</th>
                    <th>FAILED_TIMES</th>
                </tr>
                </thead>
                <tbody>
                {% for item in env.monitorList %}
                    <tr class="{{ item.warning }}">
                        <td><a class="nav-link"
                               href="/monitor/{{ item.LOG_ID }}/{{ item.VARIANTE }}/{{ env.name }}">{{ item.LOG_ID }}</a></td>
                        <td>{{ item.CHAIN_ID }}</td>
                        <td>{{ item.VARIANTE_TEXT }}</td>
                        <td>{{ item.ACTUAL_STATE }}</td>
                        <td>{{ item.FAILED_TIMES }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="container pt-2">
            <a href="/monitor"> <img class="img-fluid rounded float-left" src="/static/img/coffee.jpg"></a>
        </div>
    {% endif %}
    <div id="environment" env="{{ env.name }}"></div>
{% endblock %}