<nav class="navbar  navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="/monitor">PCB Chain Monitor</a>
    <div class=" navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/monitor">Data Refresh: <span id="last_update"> {{ last_update }}</span></a>
            </li>
            {#            <li class="nav-item">#}
            {#                <a class="nav-link" href="/monitor">Login</span></a>#}
            {#            </li>#}
        </ul>
        {% if current_user.is_authenticated %}
            <a class="btn btn-secondary" href="/logout">Logout</a>
{#        {% else %}#}
{#            <a class="btn btn-secondary" href="/login">Login</a>#}
{#            <a class="btn btn-secondary" href="/register">Register</a>#}
        {% endif %}
    </div>
</nav>